.comment {

  .parent {
    display: flex;
    align-items: baseline ;
  }

  .name {
    font-weight: 600;
    margin-right: 1rem;
  }

  .date {
    color: #7c7c7c;
    font-size: 0.8rem;
  }

  hr {
    margin: 1rem 0;
  }
}