.hero {
  background-image: url("/images/neko10-min.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 3rem;
    padding: 0;
    margin: 2rem 2rem 0 2rem;
  }

  p {
    color: #fff;
    font-size: 1rem;
    padding: 0;
    margin: 1rem 2rem 2rem 2rem;
  }

  .bg {
    background-color: rgba(133, 1, 1, 0.5);
  }
}

.card_container {
  display: flex;
  flex-wrap: wrap;
}

// タグ一覧
.tags_parent {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;

  .tags_children {
    background-color: #e8e8e8;
    padding: 0.3rem 1rem;
    border-radius: 8px;
  }
}

.card_box {
  width: 33.33%;
  box-sizing: border-box;
  padding: 3px;
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  .card_box {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 30vh;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .card_box {
    width: 100%;
  }
}